.WeatherCard {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 800px;
	height: 200px;
	border: 4px solid #ffffff;
	border-radius: 10px;
	margin: 10px auto;
}

.Hour {
	display: flex;
	text-align: center;
	font-size: 40px;
	height: 100%;
	align-items: center;
	margin-left: 20px;
}

.Icon {
	margin: auto;
	width: 90%;
}

.Img {
	min-width: 30%;
}

.Temperature {
	display: flex;
	margin-bottom: 10px;
	height: 100%;
	align-items: center;
	margin-right: 20px;
}

.Temp {
	font-size: 45px;
	color: rgb(255, 255, 255);
	width: 35%;
}
